.main{
	display: flex;
	flex-wrap: wrap;
}

.card{
	text-align: center;
}

#heading{
	background-color: black;
	color: white;
	font-size: 35px;
}

#text{
	background-color:#eeeeee;
	font-size: 25px;
}

#button{
	font-size: 20px;
	background-color: #53b051;
	border-radius: 0px !important;
}

#heading-2{
	background-color: #53b051;
	color: white;
	font-size: 35px;
}

.cards{
	margin: 10px;
}